@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
	/* Colors */
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	--violet: rgb(125, 102, 207);
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
	/* Fonts */
	--primary-font: "Red Hat Display", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	font-size: 16px;
}

body {
	background-color: var(--pale-blue);
	background-image: url("./images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	background-color: white;
	border-radius: 15px;
	width: 100%;
	max-width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.hero-image {
	border-radius: 15px 15px 0px 0px;
}

.font-color-blue {
	color: var(--desaturated-blue);
}

.title {
	font-size: 22px;
	font-weight: 900;
	margin: 30px auto 10px;
}

.phrase {
	max-width: 350px;
	margin: 0px auto 20px;
}

.dark-blue {
	color: var(--dark-blue);
}

.plan-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--very-pale-blue);
	border-radius: 10px;
	padding: 16px;
	margin: 0 38px 24px;
}

.change {
	color: var(--bright-blue);
	text-decoration: underline;
	font-size: 12px;
	margin: auto 10px auto auto;
	cursor: pointer;
}

.change:hover {
	text-decoration: none;
	color: var(--violet);
	font-weight: 700;
}

.annual-plan {
	margin-left: 26px;
}

.payment {
	background: var(--bright-blue);
	color: white;
	font-weight: 700;
	border-radius: 10px;
	padding: 16px;
	margin: 0 38px 24px;
	box-shadow: 3px 23px 42px -4px rgba(148, 170, 255, 0.69);
	cursor: pointer;
}

.payment:hover {
	background: var(--violet);
	transition: 0.2s;
}

.cancel-order {
	margin-top: 40px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.cancel-order:hover {
	color: var(--dark-blue);
}

@media (max-width: 375px) {
	.card {
		max-width: 330px;
		height: 550px;
	}
}

@media (max-width: 320px) {
	.card {
		max-width: 300px;
		height: 550px;
	}

	.phrase {
		max-width: 250px;
		margin: 0px auto 20px;
	}

	.plan-section {
		padding: 16px;
		margin: 0 22px 24px;
	}

	.change {
		margin: auto 0 auto auto;
	}
}
