@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
	/* Primary colors */
	--pale-blue: hsl(225, 100%, 94%);
	--bright-blue: hsl(245, 75%, 52%);
	/* Neutral colors */
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);
	/* Fonts */
	--primary-font: "Red Hat Display", sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--primary-font);
	font-size: 16px;
}

body {
	background-color: var(--pale-blue);
	background-image: url("./images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	background-color: white;
	border-radius: 15px;
	width: 100%;
	max-width: 400px;
	height: 600px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.hero-image {
	border-radius: 15px 15px 0px 0px;
}
